<div class="header">
    <nav class="sticky-nav">
        <a  id="logoo" href="/">&lt;/&#127828;&gt;</a>
        <div id="nav-types">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Menu</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
            
            <form class="asidee">
                <input type="search" id="plantSearch" placeholder="Enter food name" aria-label="Search"
                    oninput="filterPlant()">
                <button type="submit"><a href="/products">Search</a></button>
            </form>
        </div>
    </nav>
</div>