<%- include('partials/head') %>


    <body class="container">
        <%- include('partials/header') %>

            <%- include('partials/message') %>

                <div class="body">
                    <img src="/images/666.svg" alt="" class="svgimg">
                    <h2>Md Shefain</h2>
                    <h3>ID : 1280899</h3>
                    <h3>Batch : CS/SCSL-A/58/01</h3>
                    <h1>Code Chef Kitchen</h1>
                    <div class="btn-group">
                        <button><a href="/products">Menu</a></button>
                    </div>
                </div>

                <%- include('partials/footer') %>
    </body>

    </html>