nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0px 0;
}



nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    float: left;

}

#logoo {
    margin: 0px 20px 0px 20px;
    color: #000000;
    font-size: 25px;
    margin-top: 0px;

}

#nav-types {
    display: flex;
    gap: 20px;
    width: calc(60% - 60px);
    float: left;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: flex-start;
}

#nav-types ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

#nav-types ul li {
    margin-right: 15px;
    transition: all 0.3s ease;
    padding: 0px 50px;
}

#nav-types ul li a {
    color: #000000;
    text-decoration: none;
}

#nav-types ul li:hover {
    border-radius: 5px;
    background-color: #f0f0f0;
}

#nav-types ul li:hover a {
    color: #FF0000;
}

#nav-types form {
    display: flex;
    align-items: center;
    width: calc(30% - 30px);
    float: left;
}

#nav-types input[type="search"] {
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-right: 10px;
  

}

#nav-types button[type="submit"] {
    padding: 5px 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

#nav-types button[type="submit"]:hover {
    background-color: #FF0000;
}

.asidee{
    margin-top: 10px;
}